<div class="author">
    <h1 class="author_heading">Hi, I'm Eduardo</h1>
    <p class="author_body">Full Stack Developer and Games Enthusiast</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">